@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Useage */
.purchased {
  text-decoration: line-through;
  text-decoration-thickness: 0.4rem;
}

/* General */
body {
  font-family: "Roboto", sans-serif;
  background: #5f506b;
  color: #fff;
}

header {
  text-align: center;
  text-decoration: underline;
  margin: 1rem 0 3rem;
}

main {
  font-size: 1.5rem; /*24px*/
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2rem;
}

input {
  width: min(100%, 600px);
  font: inherit;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}

ol {
  list-style-position: inside;
}

ol div.items {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

div.items li {
  color: #5f506b;
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  font-weight: 600;
}

div.items span {
  font-size: 2rem;
  cursor: pointer;
}

ol div.items:nth-child(even) {
  margin: 0.5em 0;
}
